/* RESET */
img {
  max-width: 100%;
  display: block;
}

/* CAROUSEL */
/* CAROUSEL FIX */
/* ===== FIX CAROUSEL SIZE ===== */
#mainCarousel {
  height: 80vh;
  overflow: hidden;
}

.carousel-item,
.carousel-img {
  height: 80vh;
}

.carousel-img {
  width: 100%;
  object-fit: cover;
}



/* FLEX SECTION */
.flex-section img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

/* GRID GALLERY */
.gallery-section {
  padding: 60px 80px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}



/* CARDS */
.card img {
  height: 200px;
  object-fit: cover;
}
